
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9e6c1814-99bf-45ee-9b5b-2a6b1c4a534e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/95879031-6148-438f-946a-ccbb66958c9f.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4012e1f8-ec78-4f33-a754-72639108467f.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
*.cache
*.props
*.pdb
*.dll
*.exe
Folha de Pagamento/obj/project.nuget.cache
Folha de Pagamento/obj/
Folha de Pagamento/.vs/
Folha de Pagamento/.vscode/
Folha de Pagamento/bin/
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.g.props
Folha de Pagamento/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.genruntimeconfig.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.GeneratedMSBuildEditorConfig.editorconfig
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormPesquisar.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormHolerite.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormFolhaNormal.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormFolhaDetalhada.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormCargos.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.FormCalculoPagamento.resources
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.designer.runtimeconfig.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CopyComplete
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.AssemblyReference.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.assets.cache
Folha de Pagamento/obj/Debug/net6.0-windows/apphost.exe
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.exe
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vscode/tasks.json
Folha de Pagamento/.vscode/launch.json
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/b11178b6-19e3-4b91-927b-1871d66662df.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/7c137150-5350-48d3-a767-9e6bb993cc45.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/6fb42a49-5d8e-4991-9e4a-ffbafddf5198.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/670d8854-f1f7-4b5c-8a32-8d809230283f.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/64f85d59-becd-45a9-8a23-8bb669529c96.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/53e385c8-8847-4f8a-906e-27208fd7cacc.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/0a81e1b1-ea0f-4f61-a28b-28ab4ebe3007.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/obj/project.nuget.cache
Folha de Pagamento/obj/project.assets.json
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.g.targets
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.g.props
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.dgspec.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.GlobalUsings.g.cs
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.GeneratedMSBuildEditorConfig.editorconfig
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.designer.runtimeconfig.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.designer.deps.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.AssemblyReference.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.assets.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.AssemblyInfoInputs.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.AssemblyInfo.cs
Folha de Pagamento/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
*.cache
*.v2
*.1
.vs/*
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.AssemblyInfo.cs
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.AssemblyInfoInputs.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.assets.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.AssemblyReference.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.designer.deps.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.designer.runtimeconfig.json
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.GeneratedMSBuildEditorConfig.editorconfig
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.GlobalUsings.g.cs
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.dgspec.json
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.g.props
Folha de Pagamento/obj/FOLHA_DE_PAGAMENTO_.csproj.nuget.g.targets
Folha de Pagamento/obj/project.assets.json
Folha de Pagamento/obj/project.nuget.cache
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Folha de Pagamento/v17/.wsuo
.vs/Folha de Pagamento/FileContentIndex/read.lock
.vs/Folha de Pagamento/FileContentIndex/45a38be2-c8e8-4f52-8973-2ad34181be9d.vsidx
