
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9e6c1814-99bf-45ee-9b5b-2a6b1c4a534e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/95879031-6148-438f-946a-ccbb66958c9f.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4012e1f8-ec78-4f33-a754-72639108467f.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
Folha de Pagamento/obj/Debug/net6.0-windows/refint/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/ref/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.GenerateResource.cache
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.FileListAbsolute.txt
Folha de Pagamento/obj/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.csproj.CoreCompileInputs.cache
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.pdb
Folha de Pagamento/bin/Debug/net6.0-windows/FOLHA_DE_PAGAMENTO_.dll
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.projects.v6.1
Folha de Pagamento/.vs/ProjectEvaluation/folha_de_pagamento.metadata.v6.1
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.suo
Folha de Pagamento/.vs/Folha_de_Pagamento/v17/.futdcache.v2
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/d3827eaa-f9b5-4964-8570-a457bbae3c8e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/c9fcee7e-8b52-4360-888c-9b6ee5bef145.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/a46a11f9-0514-494d-944e-817ebb23b236.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/9c856f16-2f7d-46d0-8081-cfa1c7e4e347.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/FileContentIndex/4810efb5-25ba-4507-b00d-e0d9ea84f75e.vsidx
Folha de Pagamento/.vs/Folha_de_Pagamento/DesignTimeBuild/.dtbcache.v2
*.cache
*.props
*.pdb
*.dll
*.exe
